{% extends 'courses/main-layout.html' %}

{% block main_section %}
<div class="courses">
    {% for course in courses %}
    <div class="course">
        <div class="card">
            {% if course.img %}
            <img src="{{ course.img.url }}" class="card-img-top" alt="{{ course.title }}">
            {% else %}
            <img src="/pictures/default.jpg" class="card-img-top" alt="{{ course.title }}">
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ course.title }}</p>
            </div>
            <a href="{{ course.get_absolute_url }}" class="btn btn-outline-primary">Посмотреть</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}